src/country.dtd

<!ELEMENT country (#PCDATA|name|introduction|geography|people|government|economy|energy|communications|transportation|military_adn_security|transnational_issues)*>
        <!ATTLIST country
                id CDATA #IMPLIED>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT introduction (background)*>
        <!ELEMENT background (#PCDATA)>
        <!ELEMENT geography (location|geographic_coordinates|map_references|area|land_boundaries|coastline|climate|terrain|elevation|natural_resources|land_use|irrigated_land|population_distribution|natural_hazards|environment|maritime_claims)*>
        <!ELEMENT location (#PCDATA)>
        <!ELEMENT geographic_coordinates (latitude|longitude)*>
        <!ELEMENT latitude (degrees|minutes|hemisphere)*>
        <!ELEMENT degrees (#PCDATA)>
        <!ELEMENT minutes (#PCDATA)>
        <!ELEMENT hemisphere (#PCDATA)>
        <!ELEMENT longitude (degrees|minutes|hemisphere)*>
        <!ELEMENT map_references (#PCDATA)>
        <!ELEMENT area (total|land|water|global_rank|comparative|note)*>
        <!ELEMENT total (#PCDATA|value|units|length|note)*>
        <!ELEMENT value (#PCDATA)>
        <!ELEMENT units (#PCDATA)>
        <!ELEMENT land (value|units)*>
        <!ELEMENT water (value|units)*>
        <!ELEMENT global_rank (#PCDATA)>
        <!ELEMENT comparative (#PCDATA)>
        <!ELEMENT land_boundaries (total|border_countries)*>
        <!ELEMENT border_countries (country|border_length)*>
        <!ELEMENT border_length (value|units)*>
        <!ELEMENT coastline (value|units|note)*>
        <!ELEMENT note (#PCDATA)>
        <!ELEMENT climate (#PCDATA)>
        <!ELEMENT terrain (#PCDATA)>
        <!ELEMENT elevation (mean_elevation|lowest_point|value|units|highest_point|note)*>
        <!ELEMENT mean_elevation (value|units)*>
        <!ELEMENT lowest_point (name|elevation)*>
        <!ELEMENT highest_point (name|elevation)*>
        <!ELEMENT natural_resources (resources)*>
        <!ELEMENT resources (#PCDATA)>
        <!ELEMENT land_use (by_sector|date)*>
        <!ELEMENT by_sector (agricultural_land_total|arable_land|permanent_crops|permanent_pasture|forest|other)*>
        <!ELEMENT agricultural_land_total (value|units)*>
        <!ELEMENT arable_land (value|units|note)*>
        <!ELEMENT permanent_crops (value|units|note)*>
        <!ELEMENT permanent_pasture (value|units)*>
        <!ELEMENT forest (value|units)*>
        <!ELEMENT other (value|units)*>
        <!ELEMENT date (#PCDATA)>
        <!ELEMENT irrigated_land (value|units|date)*>
        <!ELEMENT population_distribution (#PCDATA)>
        <!ELEMENT natural_hazards (description|type)*>
        <!ELEMENT description (#PCDATA)>
        <!ELEMENT type (#PCDATA)>
        <!ELEMENT environment (current_issues|international_agreements)*>
        <!ELEMENT current_issues (#PCDATA)>
        <!ELEMENT international_agreements (party_to|signed_but_not_ratified)*>
        <!ELEMENT party_to (#PCDATA)>
        <!ELEMENT signed_but_not_ratified (#PCDATA)>
        <!ELEMENT people (#PCDATA|population|nationality|ethnic_groups|languages|religions|dependency_ratios|median_age|population_growth_rate|birth_rate|death_rate|net_migration_rate|population_distribution|urbanization|major_urban_areas|mothers_mean_age_at_first_birth|maternal_mortality_rate|infant_mortality_rate|life_expectancy_at_birth|total_fertility_rate|physicians_density|hospital_bed_density|drinking_water_source|sanitation_facility_access|hiv_aids|adult_obesity|education_expenditures|literacy|school_life_expectancy|youth_unemployment|contraceptive_prevalence_rate|major_infectious_diseases|demographic_profile|underweight_children)*>
        <!ELEMENT population (#PCDATA|total|global_rank|date)*>
        <!ELEMENT nationality (noun|adjective)*>
        <!ELEMENT noun (#PCDATA)>
        <!ELEMENT adjective (#PCDATA)>
        <!ELEMENT ethnic_groups (ethnicity|date|note)*>
        <!ELEMENT ethnicity (name|percent|note)*>
        <!ELEMENT percent (#PCDATA)>
        <!ELEMENT languages (language)*>
        <!ELEMENT language (name|percent|note)*>
        <!ELEMENT religions (religion|date|m_e_n_a_religious_affiliation)*>
        <!ELEMENT religion (name|percent|note)*>
        <!ELEMENT dependency_ratios (ratios|date)*>
        <!ELEMENT ratios (total_dependency_ratio|youth_dependency_ratio|elderly_dependency_ratio|potential_support_ratio)*>
        <!ELEMENT total_dependency_ratio (value|units)*>
        <!ELEMENT youth_dependency_ratio (value|units)*>
        <!ELEMENT elderly_dependency_ratio (value|units)*>
        <!ELEMENT potential_support_ratio (value|units)*>
        <!ELEMENT median_age (total|male|female|global_rank|date)*>
        <!ELEMENT male (value|units)*>
        <!ELEMENT female (value|units)*>
        <!ELEMENT population_growth_rate (growth_rate|global_rank|date)*>
        <!ELEMENT growth_rate (#PCDATA)>
        <!ELEMENT birth_rate (births_per_1000_population|global_rank|date)*>
        <!ELEMENT births_per_1000_population (#PCDATA)>
        <!ELEMENT death_rate (deaths_per_1000_population|global_rank|date)*>
        <!ELEMENT deaths_per_1000_population (#PCDATA)>
        <!ELEMENT net_migration_rate (migrants_per_1000_population|global_rank|date)*>
        <!ELEMENT migrants_per_1000_population (#PCDATA)>
        <!ELEMENT urbanization (urban_population|rate_of_urbanization|total_population_growth_rate_v._urban_population_growth_rate_2000_2030)*>
        <!ELEMENT urban_population (value|units|date)*>
        <!ELEMENT rate_of_urbanization (value|units)*>
        <!ELEMENT total_population_growth_rate_v._urban_population_growth_rate_2000_2030 (#PCDATA)>
        <!ELEMENT major_urban_areas (places|date)*>
        <!ELEMENT places (place|population|is_capital)*>
        <!ELEMENT place (#PCDATA)>
        <!ELEMENT is_capital (#PCDATA)>
        <!ELEMENT mothers_mean_age_at_first_birth (age|date)*>
        <!ELEMENT age (#PCDATA)>
        <!ELEMENT maternal_mortality_rate (deaths_per_100k_live_births|global_rank|date)*>
        <!ELEMENT deaths_per_100k_live_births (#PCDATA)>
        <!ELEMENT infant_mortality_rate (total|male|female|global_rank|date)*>
        <!ELEMENT life_expectancy_at_birth (total_population|male|female|global_rank|date)*>
        <!ELEMENT total_population (value|units)*>
        <!ELEMENT total_fertility_rate (children_born_per_woman|global_rank|date)*>
        <!ELEMENT children_born_per_woman (#PCDATA)>
        <!ELEMENT physicians_density (physicians_per_1000_population|date)*>
        <!ELEMENT physicians_per_1000_population (#PCDATA)>
        <!ELEMENT hospital_bed_density (beds_per_1000_population|date)*>
        <!ELEMENT beds_per_1000_population (#PCDATA)>
        <!ELEMENT drinking_water_source (improved|unimproved|date)*>
        <!ELEMENT improved (urban|rural|total)*>
        <!ELEMENT urban (value|units)*>
        <!ELEMENT rural (value|units)*>
        <!ELEMENT unimproved (urban|rural|total)*>
        <!ELEMENT sanitation_facility_access (improved|unimproved|date)*>
        <!ELEMENT hiv_aids (adult_prevalence_rate|people_living_with_hiv_aids|deaths)*>
        <!ELEMENT adult_prevalence_rate (percent_of_adults|date|global_rank)*>
        <!ELEMENT percent_of_adults (#PCDATA)>
        <!ELEMENT people_living_with_hiv_aids (total|global_rank|date)*>
        <!ELEMENT deaths (total|date)*>
        <!ELEMENT adult_obesity (percent_of_adults|global_rank|date)*>
        <!ELEMENT education_expenditures (percent_of_gdp|global_rank|date)*>
        <!ELEMENT percent_of_gdp (#PCDATA)>
        <!ELEMENT literacy (definition|total_population|male|female|date)*>
        <!ELEMENT definition (#PCDATA)>
        <!ELEMENT school_life_expectancy (total|male|female|date)*>
        <!ELEMENT youth_unemployment (total|male|female|global_rank|date)*>
        <!ELEMENT government (country_name|government_type|capital|administrative_divisions|independence|national_holidays|constitution|legal_system|international_law_organization_participation|citizenship|suffrage|executive_branch|legislative_branch|judicial_branch|political_parties_and_leaders|international_organization_participation|diplomatic_representation|flag_description|national_symbol|national_anthem)*>
        <!ELEMENT country_name (conventional_long_form|conventional_short_form|local_long_form|local_short_form|etymology|former)*>
        <!ELEMENT conventional_long_form (#PCDATA)>
        <!ELEMENT conventional_short_form (#PCDATA)>
        <!ELEMENT local_long_form (#PCDATA)>
        <!ELEMENT local_short_form (#PCDATA)>
        <!ELEMENT etymology (#PCDATA)>
        <!ELEMENT government_type (#PCDATA)>
        <!ELEMENT capital (name|geographic_coordinates|time_difference|daylight_saving_time|etymology)*>
        <!ELEMENT time_difference (timezone|note)*>
        <!ELEMENT timezone (#PCDATA)>
        <!ELEMENT daylight_saving_time (#PCDATA)>
        <!ELEMENT administrative_divisions (name|type)*>
        <!ELEMENT independence (date|note)*>
        <!ELEMENT national_holidays (name|day|original_year)*>
        <!ELEMENT day (#PCDATA)>
        <!ELEMENT original_year (#PCDATA)>
        <!ELEMENT constitution (history|amendments|note)*>
        <!ELEMENT history (#PCDATA)>
        <!ELEMENT amendments (#PCDATA)>
        <!ELEMENT legal_system (#PCDATA)>
        <!ELEMENT international_law_organization_participation (#PCDATA)>
        <!ELEMENT citizenship (citizenship_by_birth|citizenship_by_descent_only|dual_citizenship_recognized|residency_requirement_for_naturalization)*>
        <!ELEMENT citizenship_by_birth (#PCDATA)>
        <!ELEMENT citizenship_by_descent_only (#PCDATA)>
        <!ELEMENT dual_citizenship_recognized (#PCDATA)>
        <!ELEMENT residency_requirement_for_naturalization (#PCDATA)>
        <!ELEMENT suffrage (age|universal|compulsory|note)*>
        <!ELEMENT universal (#PCDATA)>
        <!ELEMENT compulsory (#PCDATA)>
        <!ELEMENT executive_branch (chief_of_state|head_of_government|cabinet|elections_appointments|election_results)*>
        <!ELEMENT chief_of_state (#PCDATA)>
        <!ELEMENT head_of_government (#PCDATA)>
        <!ELEMENT cabinet (#PCDATA)>
        <!ELEMENT elections_appointments (#PCDATA)>
        <!ELEMENT election_results (#PCDATA)>
        <!ELEMENT legislative_branch (description|elections|election_results|note)*>
        <!ELEMENT elections (#PCDATA)>
        <!ELEMENT judicial_branch (highest_courts|judge_selection_and_term_of_office|subordinate_courts)*>
        <!ELEMENT highest_courts (#PCDATA)>
        <!ELEMENT judge_selection_and_term_of_office (#PCDATA)>
        <!ELEMENT subordinate_courts (#PCDATA)>
        <!ELEMENT political_parties_and_leaders (parties)*>
        <!ELEMENT parties (name|name_alternative|leaders|note)*>
        <!ELEMENT name_alternative (#PCDATA)>
        <!ELEMENT leaders (#PCDATA)>
        <!ELEMENT international_organization_participation (organization|note)*>
        <!ELEMENT organization (#PCDATA)>
        <!ELEMENT diplomatic_representation (in_united_states|from_united_states)*>
        <!ELEMENT in_united_states (chief_of_mission|chancery|telephone|fax|consulates_general|consulates)*>
        <!ELEMENT chief_of_mission (#PCDATA)>
        <!ELEMENT chancery (#PCDATA)>
        <!ELEMENT telephone (#PCDATA)>
        <!ELEMENT fax (#PCDATA)>
        <!ELEMENT consulates_general (#PCDATA)>
        <!ELEMENT from_united_states (chief_of_mission|telephone|embassy|mailing_address|fax|consulates_general)*>
        <!ELEMENT embassy (#PCDATA)>
        <!ELEMENT mailing_address (#PCDATA)>
        <!ELEMENT flag_description (description|note)*>
        <!ELEMENT national_symbol (symbols|colors)*>
        <!ELEMENT symbols (symbol|note)*>
        <!ELEMENT symbol (#PCDATA)>
        <!ELEMENT colors (color)*>
        <!ELEMENT color (#PCDATA)>
        <!ELEMENT national_anthem (name|lyrics_music|note|audio_url)*>
        <!ELEMENT lyrics_music (#PCDATA)>
        <!ELEMENT audio_url (#PCDATA)>
        <!ELEMENT economy (overview|gdp|gross_national_saving|agriculture_products|industries|industrial_production_growth_rate|labor_force|unemployment_rate|population_below_poverty_line|household_income_by_percentage_share|budget|taxes_and_other_revenues|budget_surplus_or_deficit|public_debt|fiscal_year|inflation_rate|current_account_balance|exports|imports|reserves_of_foreign_exchange_and_gold|external_debt|exchange_rates)*>
        <!ELEMENT overview (#PCDATA)>
        <!ELEMENT gdp (purchasing_power_parity|official_exchange_rate|real_growth_rate|per_capita_purchasing_power_parity|composition)*>
        <!ELEMENT purchasing_power_parity (annual_values|global_rank|note)*>
        <!ELEMENT annual_values (value|units|date)*>
        <!ELEMENT official_exchange_rate (USD|date)*>
        <!ELEMENT USD (#PCDATA)>
        <!ELEMENT real_growth_rate (annual_values|global_rank)*>
        <!ELEMENT per_capita_purchasing_power_parity (annual_values|global_rank|note)*>
        <!ELEMENT composition (by_end_use|by_sector_of_origin)*>
        <!ELEMENT by_end_use (end_uses|date)*>
        <!ELEMENT end_uses (household_consumption|government_consumption|investment_in_fixed_capital|investment_in_inventories|exports_of_goods_and_services|imports_of_goods_and_services)*>
        <!ELEMENT household_consumption (value|units)*>
        <!ELEMENT government_consumption (value|units)*>
        <!ELEMENT investment_in_fixed_capital (value|units)*>
        <!ELEMENT investment_in_inventories (value|units)*>
        <!ELEMENT exports_of_goods_and_services (value|units)*>
        <!ELEMENT imports_of_goods_and_services (value|units)*>
        <!ELEMENT by_sector_of_origin (sectors|date)*>
        <!ELEMENT sectors (agriculture|industry|services)*>
        <!ELEMENT agriculture (value|units)*>
        <!ELEMENT industry (value|units)*>
        <!ELEMENT services (value|units)*>
        <!ELEMENT gross_national_saving (annual_values|global_rank)*>
        <!ELEMENT agriculture_products (products)*>
        <!ELEMENT products (#PCDATA)>
        <!ELEMENT industries (#PCDATA|industries)*>
        <!ELEMENT industrial_production_growth_rate (annual_percentage_increase|global_rank|date)*>
        <!ELEMENT annual_percentage_increase (#PCDATA)>
        <!ELEMENT labor_force (total_size|by_occupation)*>
        <!ELEMENT total_size (total_people|global_rank|date)*>
        <!ELEMENT total_people (#PCDATA)>
        <!ELEMENT by_occupation (occupation|date)*>
        <!ELEMENT occupation (agriculture|industry|services)*>
        <!ELEMENT unemployment_rate (annual_values|global_rank)*>
        <!ELEMENT population_below_poverty_line (value|units|date)*>
        <!ELEMENT household_income_by_percentage_share (lowest_ten_percent|highest_ten_percent|date)*>
        <!ELEMENT lowest_ten_percent (value|units)*>
        <!ELEMENT highest_ten_percent (value|units)*>
        <!ELEMENT budget (revenues|expenditures|date)*>
        <!ELEMENT revenues (value|units)*>
        <!ELEMENT expenditures (value|units)*>
        <!ELEMENT taxes_and_other_revenues (percent_of_gdp|global_rank|date)*>
        <!ELEMENT budget_surplus_or_deficit (percent_of_gdp|global_rank|date)*>
        <!ELEMENT public_debt (annual_values|global_rank|note)*>
        <!ELEMENT fiscal_year (start|end)*>
        <!ELEMENT start (#PCDATA)>
        <!ELEMENT end (#PCDATA)>
        <!ELEMENT inflation_rate (annual_values|global_rank)*>
        <!ELEMENT current_account_balance (annual_values|global_rank)*>
        <!ELEMENT exports (total_value|commodities|partners|kWh|global_rank|date|bbl_per_day|cubic_metres)*>
        <!ELEMENT total_value (annual_values|global_rank)*>
        <!ELEMENT commodities (by_commodity)*>
        <!ELEMENT by_commodity (#PCDATA)>
        <!ELEMENT partners (by_country|date)*>
        <!ELEMENT by_country (name|percent|people|country_of_origin|note|date)*>
        <!ELEMENT imports (total_value|commodities|partners|kWh|global_rank|date|bbl_per_day|cubic_metres)*>
        <!ELEMENT reserves_of_foreign_exchange_and_gold (annual_values|global_rank)*>
        <!ELEMENT external_debt (annual_values|global_rank)*>
        <!ELEMENT exchange_rates (annual_values|note)*>
        <!ELEMENT energy (electricity|crude_oil|refined_petroleum_products|natural_gas|carbon_dioxide_emissions_from_consumption_of_energy)*>
        <!ELEMENT electricity (access|production|consumption|exports|imports|installed_generating_capacity|by_source)*>
        <!ELEMENT access (total_electrification|date)*>
        <!ELEMENT total_electrification (value|units)*>
        <!ELEMENT production (kWh|global_rank|date|bbl_per_day|cubic_metres)*>
        <!ELEMENT kWh (#PCDATA)>
        <!ELEMENT consumption (kWh|global_rank|date|bbl_per_day|cubic_metres)*>
        <!ELEMENT installed_generating_capacity (kW|global_rank|date)*>
        <!ELEMENT kW (#PCDATA)>
        <!ELEMENT by_source (fossil_fuels|nuclear_fuels|hydroelectric_plants|other_renewable_sources)*>
        <!ELEMENT fossil_fuels (percent|global_rank|date)*>
        <!ELEMENT nuclear_fuels (percent|global_rank|date)*>
        <!ELEMENT hydroelectric_plants (percent|global_rank|date)*>
        <!ELEMENT other_renewable_sources (percent|global_rank|date)*>
        <!ELEMENT crude_oil (production|exports|imports|proved_reserves)*>
        <!ELEMENT bbl_per_day (#PCDATA)>
        <!ELEMENT proved_reserves (bbl|global_rank|date|cubic_metres)*>
        <!ELEMENT bbl (#PCDATA)>
        <!ELEMENT refined_petroleum_products (production|consumption|exports|imports)*>
        <!ELEMENT natural_gas (production|consumption|exports|imports|proved_reserves)*>
        <!ELEMENT cubic_metres (#PCDATA)>
        <!ELEMENT carbon_dioxide_emissions_from_consumption_of_energy (megatonnes|global_rank|date)*>
        <!ELEMENT megatonnes (#PCDATA)>
        <!ELEMENT communications (telephones|broadcast_media|internet|note)*>
        <!ELEMENT telephones (fixed_lines|mobile_cellular)*>
        <!ELEMENT fixed_lines (total_subscriptions|subscriptions_per_one_hundred_inhabitants|global_rank|date)*>
        <!ELEMENT total_subscriptions (#PCDATA)>
        <!ELEMENT subscriptions_per_one_hundred_inhabitants (#PCDATA)>
        <!ELEMENT mobile_cellular (total_subscriptions|subscriptions_per_one_hundred_inhabitants|global_rank|date)*>
        <!ELEMENT broadcast_media (#PCDATA)>
        <!ELEMENT internet (country_code|users)*>
        <!ELEMENT country_code (#PCDATA)>
        <!ELEMENT users (total|percent_of_population|global_rank|date)*>
        <!ELEMENT percent_of_population (#PCDATA)>
        <!ELEMENT transportation (pipelines|railways|roadways|waterways|ports_and_terminals|merchant_marine)*>
        <!ELEMENT pipelines (by_type|date)*>
        <!ELEMENT by_type (type|length|units|count)*>
        <!ELEMENT length (#PCDATA)>
        <!ELEMENT railways (total|standard_gauge|narrow_gauge|global_rank|date)*>
        <!ELEMENT standard_gauge (length|electrified|units|gauge)*>
        <!ELEMENT electrified (#PCDATA)>
        <!ELEMENT gauge (#PCDATA)>
        <!ELEMENT narrow_gauge (length|units|electrified|gauge)*>
        <!ELEMENT roadways (total|paved|global_rank|date|unpaved)*>
        <!ELEMENT paved (value|units|note)*>
        <!ELEMENT waterways (value|units|note|global_rank|date)*>
        <!ELEMENT ports_and_terminals (river_ports|major_seaports|oil_terminals|container_ports|liquid_natural_gas_terminals_import|date|liquid_natural_gas_terminals_export)*>
        <!ELEMENT river_ports (#PCDATA)>
        <!ELEMENT military_adn_security (#PCDATA)>
        <!ELEMENT transnational_issues (disputes|refugees_and_iternally_displaced_persons|illicit_drugs|trafficking_in_persons)*>
        <!ELEMENT disputes (#PCDATA)>
        <!ELEMENT refugees_and_iternally_displaced_persons (stateless_persons|refugees|note|internally_displaced_persons)*>
        <!ELEMENT stateless_persons (people|date)*>
        <!ELEMENT illicit_drugs (note)*>
        <!ELEMENT maritime_claims (territorial_sea|continental_shelf|exclusive_economic_zone|contiguous_zone)*>
        <!ELEMENT territorial_sea (value|units)*>
        <!ELEMENT continental_shelf (value|units|note)*>
        <!ELEMENT contraceptive_prevalence_rate (value|units|note|date)*>
        <!ELEMENT major_infectious_diseases (note|date|degree_of_risk|food_or_waterborne_diseases|water_contact_diseases)*>
        <!ELEMENT former (#PCDATA)>
        <!ELEMENT consulates (#PCDATA)>
        <!ELEMENT merchant_marine (total|by_type|global_rank|date)*>
        <!ELEMENT count (#PCDATA)>
        <!ELEMENT major_seaports (#PCDATA)>
        <!ELEMENT oil_terminals (#PCDATA)>
        <!ELEMENT container_ports (place|twenty_foot_equivalent_units)*>
        <!ELEMENT twenty_foot_equivalent_units (#PCDATA)>
        <!ELEMENT liquid_natural_gas_terminals_import (#PCDATA)>
        <!ELEMENT refugees (by_country|date)*>
        <!ELEMENT country_of_origin (#PCDATA)>
        <!ELEMENT exclusive_economic_zone (value|units|note)*>
        <!ELEMENT contiguous_zone (value|units)*>
        <!ELEMENT m_e_n_a_religious_affiliation (#PCDATA)>
        <!ELEMENT demographic_profile (#PCDATA)>
        <!ELEMENT degree_of_risk (#PCDATA)>
        <!ELEMENT food_or_waterborne_diseases (#PCDATA)>
        <!ELEMENT water_contact_diseases (#PCDATA)>
        <!ELEMENT underweight_children (percent_of_children_under_the_age_of_five|global_rank|date)*>
        <!ELEMENT percent_of_children_under_the_age_of_five (#PCDATA)>
        <!ELEMENT unpaved (value|units)*>
        <!ELEMENT liquid_natural_gas_terminals_export (#PCDATA)>
        <!ELEMENT internally_displaced_persons (people|date)*>
        <!ELEMENT trafficking_in_persons (current_situation|tier_rating)*>
        <!ELEMENT current_situation (#PCDATA)>
        <!ELEMENT tier_rating (#PCDATA)>